Repository developersapien/test2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, imagemin-lint-staged

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,css,scss,md}": [
    "prettier --write",
    "eslint --fix"
  ],
  "**/*.{json}": [
    "prettier --write"
  ],
  "*.{png,jpeg,jpg,gif,svg}": [
    "imagemin-lint-staged"
  ]
}

added
  .huskyrc
  .huskyrc.json
Due: none

fix(component): new readme files added
  src/README.md
Due: prettier --write, eslint --fix

test
  package-lock.json
  package.json
Due: none

fix(package.json): added commitizine script
  .husky/.gitignore
  .husky/commit-msg
  README.md
  package.json
Due: prettier --write, eslint --fix

fix(husky file): husky npx added
  .husky/prepare-commit-msg
  .huskyrc.json
  package.json
Due: none

docs(readme): documentation changes
  README.md
Due: prettier --write, eslint --fix

fix(package.json): readme updated, Package added
  README.md
  package.json
Due: prettier --write, eslint --fix

Create main.yml
  .github/workflows/main.yml
Due: none

dsds
  .github/workflows/morto.yml
Due: none

feat(semantic release): semantic release added
  .github/workflows/main.yml
  .releaserc
  package-lock.json
  package.json
Due: none

feat(component): new files added
  .babelrc
  .eslintrc
  .github/workflows/main.yml
  .gitignore
  release.config.js
  src/App.tsx
  src/assets/test.jpg
  src/index.html
  src/index.tsx
  webpack/webpack.common.js
Due: prettier --write, eslint --fix, imagemin-lint-staged

feat(test): testa
  package.json
Due: none

fix(workflow removed): workflow removed
  .github/workflows/morto.yml
Due: none

sas
  package.json
Due: none

ci(config): config fixed
  .husky/prepare-commit-msg
  release.config.js
Due: prettier --write, eslint --fix

fix(package): test
  package.json
Due: none

fix(release): rename file
  .releaserc
  release.config.js
Due: prettier --write, eslint --fix

fix(senamtic): anotheroptions
  .releaserc
Due: none

fix(fa): maa
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: none

v1.0.0 released. [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  9bd5a598eeeddf9417d24307b9e891d275a42a3d
Due: none

fix(ts): some other changeds
  .releaserc
  package.json
Due: none

1.0.1 released. [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  de288cf0d1672ec637587a3728f8cbc6980aeb79
Due: none

fix(npm): removed
  .releaserc
Due: none

fix(realease): release files changed
  .releaserc
Due: none

chore(release): set `package.json` to 1.0.2 [skip ci]
  CHANGELOG.md
  build/assets/test.jpg
  build/index.html
  build/main-0298d6f4ba4033169c0d.js
  build/main-0298d6f4ba4033169c0d.js.LICENSE.txt
  build/main-0298d6f4ba4033169c0d.js.map
Due: prettier --write, eslint --fix, imagemin-lint-staged

Notes added by 'git notes add'
  cedadea2ed156e2bcf9d3107f9763739cd43c85d
Due: none

ci(github): new release created
  .husky/prepare-commit-msg
  .releaserc
  package.json
Due: none

fix(commit): commit lint fixes
  .commitlintrc
  commitlint.config.js
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  e53b638a0b50c00d256aedb2396af99cbd4f6741
Due: none

chore(release): set `package.json` to 1.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, eslint --fix

perf(deoloyment): no
  src/index.html
Due: none

chore(release): set `package.json` to 1.0.4 [skip ci]
  CHANGELOG.md
  build/index.html
  build/main-4368b0dfe940322960d2.js
  build/main-4368b0dfe940322960d2.js.LICENSE.txt
  build/main-4368b0dfe940322960d2.js.map
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  5087f0a401702e8d74e1ce1707a55363dd7bff2a
Due: none

fix: versionin
  .releaserc
Due: none

chore(release): set `package.json` to 1.0.5 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  578c245de53d8be72256e1d642e22a798c54ccba
Due: none

fix(file): nothign
  README.md
Due: prettier --write, eslint --fix

chore(release): set `package.json` to 1.0.6 [skip ci]
  CHANGELOG.md
Due: prettier --write, eslint --fix
